@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root{
    --editor-height:500px;
    --editor-width:700px;
    --editor-border:2px solid gainsboro;
    --editor-border-radius:5px;
    --editor-padding:20px;
    --editor-bgc: rgb(252, 252, 252);
    --editor-button-color: rgb(24, 24, 24);
    --top : 50px;
    --border-gray:1px solid #c1c1c1;
    --border-radius:10px;
    --bgc-primary:#ffffff;
    --bgc-secondary:teal;
    --bgc-light:rgba(244, 244, 244, 0.205);
    --bgc-header:#f5f5f791;
    --box-shadow: 0 0 5px 2px rgb(147, 147, 147);
    
}
pre{
    border-radius: 10px;
}pre::-webkit-scrollbar{
    background-color: rgba(255, 255, 0, 0);
    height: 10px;
}pre::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid #2d2d2d;
    margin: 3px;
    height: 6px;
    margin: 1px;
}pre::-webkit-scrollbar-track{
    height: 7px;
    
}
body{
    background-color: var(--editor-bgc);

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


iframe{
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    border: 0px;
    /* box-shadow: 0 0 15px 5px gainsboro; */
    border: 1px solid rgba(0, 0, 0, 0.1818181818);
    /* margin: 0 auto; */
    align-self: center !important;
    justify-self: center !important;
}
#imgAttr{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    /* width: 100%; */
    width: 0px;
    /* transition: width .1s linear; */
    height: calc(100vh - 70px);
    /* border: 1px solid rgba(0, 0, 0, 0.1818181818); */
    background: #ffffff;
    backdrop-filter:saturate(1.8) blur(20px) ;

    overflow-y: scroll;
    /* border: 1px solid gainsboro; */
    /* box-shadow: var(--box-shadow); */
    border-radius:3px;
    position: absolute;
    top: 0px;
    left:  10px;
    /* padding: 20px 10px; */
    /* z-index: 99999999; */
}

.isDivClass{
    width: 200px;
    height: 200px;
    z-index: 10000;
    align-self: flex-end;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    /* border: var(--border-gray); */
    /* border-radius: 10px; */
    /* padding: 9px 5px; */

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color:var(--editor-bgc);
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    height: 60px;
    /* top: 6px; */
    z-index: 999;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    color: rgb(121, 118, 118) !important;
}
.left_side{
    width: fit-content; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 20px;
}
.center_side{ 
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.right_side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 20px;
}

#scaleSelect{
    width: 42px;
    padding: 2px 0px !important;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--editor-bgc);
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    display: flex;
    align-items: center;
    justify-content: center;
}
header button{
    border: none;
    background-color: transparent;
    margin: 0 1px;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
color: var(--editor-button-color);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
header button:active{
    scale: 0.95;
}
header button:hover{
 background-color: rgba(199, 199, 199, 0.466);
}
/* 
select{
    padding:2px 0px;
    border: none;
    outline: none;
     -webkit-appearance: none; 
    appearance: none;
    background-color: transparent;
    text-align: center;
} */

#pagesSelect{
    padding: 2px 5px;
    background-color: rgba(137, 43, 226, 0);
    border-radius: 7px;
    text-align: center;
    color: #6a6a6a;
}

.rborder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: var(--border-gray);
    padding-left: 10px;
    margin-left: 10px;
}


/* ::-webkit-scrollbar-thumb{
    width: 3px;
    border-radius: 10px;
    background-color: rgba(3, 37, 37, 0.253);
}
::-webkit-scrollbar{
    width: 4px;
    z-index: 55555;
    position: absolute;
}
::-webkit-scrollbar-button{
    width: 0px;
    height: 0px;
} */



.container{
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    top: var(--top);
    transform: translateX(-50%);
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    box-shadow: var(--box-shadow);
    border-radius:10px;
    padding: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;

    width: fit-content;
}



.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: fit-content;
    border: 1px solid gainsboro;
    border-radius:10px;
    padding: 10px;
    margin:3px 1px;
}



#imgAttr::-webkit-scrollbar-button{
    width: 0px;
    background: #000;

} 

#imgAttr div{
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}
#imgAttr div:last-child img{
    width: 50%;
    height: 150px;
    padding: 5px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}
#imgAttr  button, #blockSetting button{
    border: none;
    background-color: transparent;
    margin: 0 3px;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#blockSetting{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    background-color: #fff;
    border: 1px solid gainsboro;
    border-radius:10px;
    padding:10px;
    position: absolute;
    top: 200px;
    z-index: 99999999;
}
#imgAttr button:hover,#blockSetting button:hover{
    background-color: rgba(199, 199, 199, 0.466);
   }
#blockSetting .bi-x-circle, #imgAttr .bi-x-circle{
    position: absolute;
    top: 5px;
    right: 25px;
    font-style: normal;
    cursor: pointer;
}
#blockSetting .bi-x-circle:hover,#imgAttr .bi-x-circle:hover{
color: red;
}


.textAndImage{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.textAndText{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.textAndImageText{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.textAndImage div{
    width: 49%;
}
.textAndText div{
    width: 49%;
}
.textAndImageText div{
    width: 49%;
}

.flex{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.flex-col{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.flex-row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.borderles-content *{
    border: none;
    outline: none;
}
.border-bottom {
    border: none;
    outline: none;
    border-bottom: 1px solid gainsboro;
}

.flex{
    display: flex;
    width: 100%;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}

.astart{
    align-items: flex-start;
}
.acenter{
    align-items: center;
}
.aend{
    align-items: flex-end;
}
.jstart{
    align-items: flex-start;
}
.jcenter{
    align-items: center;
}
.jend{
    align-items: flex-end;
}
.spacebetween{
    justify-content: space-between;
}





.fontsContainer{
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    background-color: #fff;
    top: var(--top);
    left: 360px;
    width: 300px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid gainsboro;
    border-radius:10px;
    padding: 10px;
}
.fontsContainer::-webkit-scrollbar-thumb{
    width: 3px;
    border-radius:0 20px 20px 0;
    background-color: #6a6a6a;
    -webkit-border-radius:0 20px 20px 0;
    -moz-border-radius:0 20px 20px 0;
    -ms-border-radius:0 20px 20px 0;
    -o-border-radius:0 20px 20px 0;
}
.fontsContainer::-webkit-scrollbar{
    width: 6px;
    z-index: 55555;
    position: absolute;
    background-color: #d6d6d6;
    border-radius:0 20px 20px 0;
    padding: 10px 0;
    -webkit-border-radius:0 20px 20px 0;
    -moz-border-radius:0 20px 20px 0;
    -ms-border-radius:0 20px 20px 0;
    -o-border-radius:0 20px 20px 0;
}
.fontsContainer::-webkit-scrollbar-button{
    width: 0px;
    height: 0px;
}
.fontsContainer button{
    font-size: x-large;
    cursor: pointer;
    width: 260px;
}
.fontsContainer button:hover{
    scale: 1.05;
}


.fontColorContainer button{
    cursor: pointer;
}
.fontColorContainer button{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    outline: 1px solid black;
    border-radius: 50% !important;
    margin:2px 2px !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}
.fontColorContainer button:hover{
    scale: 1.1;
}
.fontColorContainer{
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    background-color: #ffffff;
    top: var(--top);
    left: calc((48px * 4) - 24px);
    transform: translateX(-50%);
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    box-shadow: var(--box-shadow);
    border-radius:10px;
    
    width: 200px;
}
.fontBackgroundColorContainer{
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;

    position: absolute;
    background-color: #fafafa;
    top: var(--top);
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: var(--box-shadow);
    border-radius:10px;
    padding: 10px;
    width: 320px;
}.fontBackgroundColorContainer > div{
    margin: 15px 0;
    padding: 10px;
}
.fontBackgroundColorContainer div{
    width: 100%;
    height: fit-content;
}
.fontBackgroundColorContainer input[type="number"]{
    border-radius: 10px;
    width: 50px;
    border: 1px solid rgb(17, 17, 17);
    outline: none;
    text-align: center;
    padding: 0;
}

.buttonGroupe{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}
.buttonGroupe button{
    width: 35px;
    height: 35px;
    border: 1px solid #fafafa;
    outline: none;

}


.dubbleColor{
    width: 70px !important;
    height: 50px !important;
    position: relative;
  }
  .dubbleColor button{
    position: absolute;
  }.dubbleColor button:first-child{
    position: absolute;
    left: 0;
  }.dubbleColor button:last-child{
    position: absolute;
    right: 0;
  }





.createLinkContainer{
    display: none;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    border: 1px solid gainsboro;
    
    top: 55px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    border-radius:10px;
    /* box-shadow: var(--box-shadow); */
    padding: 5px;
}
.createLinkContainer input
{
    padding: 5px 10px;
    outline: none;
    color: tomato;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid tomato;
    height: 30px;
}
.createLinkContainer input:hover{
    background-color: rgba(243, 243, 243, 0.699);
}
.createLinkContainer svg{
    height: 30px;
    width: 35px;
    padding: 5px;
}
.createLinkContainer svg:first-child{
    margin-right: 5px;
}
.createLinkContainer svg:last-child{
    margin-left: 5px;
}
.createLinkContainer svg:hover{
    background-color: rgba(243, 243, 243, 0.699);
}


.textTypeContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: transparent;
   
    overflow-y: scroll;
    border: 1px solid gainsboro;
    /* box-shadow: var(--box-shadow); */
    border-radius: 10px;
    padding:4px 0px;
}
.textTypeContainer select{
   border: 1px solid gainsboro;
   padding: 5px ;
   border-radius: 5px;
   width: 40px;
   text-overflow:ellipsis;
   margin: 4px;
   font-size: small;
   appearance: none; /* Tarayıcı varsayılan stilini kaldır */
   -webkit-appearance: none; /* Webkit tarayıcılar için */
   -moz-appearance: none; /* Firefox için */
 
}
#tagSelectCobtainer{
    display: inline-block;
}
#select-selected,#font-selected{
    border: 1px solid gainsboro;
    padding: 5px 10px !important;
    margin: 0 2px;
    border-radius: 5px;
    width: 170px;
    word-wrap: break-word;
    word-break: break-all;
    height:31.5px;
    text-overflow: ellipsis !important;
    overflow:hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    font-size: 14px;
}
#select-selected:hover{
    background-color:  gainsboro;
 
 }


 #select-items{
    position: fixed;
    top: 55px;
    background-color: var(--editor-bgc);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    z-index: 99;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
 }
 #select-items button{
    padding: 5px 10px;
    padding-left: 30px;
    width: 100%;
    margin: 0px !important;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
 }


 #select-items button:hover{
    background-color: #e9e9e9;
 }
 #select-items button.active::before{
    content: '\279B';
    position: absolute;
    left: 5px;
    font-size: 20px;
 }

 #denemeStyle1{
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid gainsboro;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 55px;
    z-index: 99999999999;
    width: 200px;
    padding: 10px;
  }
  #denemeStyle1 div{
    margin: 5px 0;
  }

.textTypeContainer input[name="fontsize"]{
    border: 1px solid gainsboro;
    width: 50px;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 4px;
}

.textTypeContainer>div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* color:gray; */
}
.textTypeContainer div button{
   margin: 1px !important;
}
/* .textTypeContainer button{
    color:gray;
    width: 95%;
} 
.textTypeContainer button:hover{
   
    color:black;
}
*/

.colorSelectContainer, .backcolorSelectContainer{
    position: fixed;
    top: 55px;
    z-index: 99999;
    border: 1px solid rgb(0, 0, 0, 0.18181818);
    width: 144px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.colorSelectContainer button,.backcolorSelectContainer button{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 2px;
    margin: 1px;

}
.colorSelectContainer button:hover,.backcolorSelectContainer button:hover{
    scale: 1.3;
    border: 3px dashed salmon ;
}





.fontsContainer-select{
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: fixed;
    background-color: #fff;
    top: 55px;
    width: 300px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid gainsboro;
    border-radius:5px;
    padding: 5px;
}
::-webkit-scrollbar-thumb{
    width: 3px;
    border-radius:10px;
    border: 1px solid #fff;
    background-color: #373737;

}    
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-button{
    width: 0px;
    height: 0px;
}
.fontsContainer-select button{
    display: block;
    width: 100%;
    text-align: left;
    padding: 5px 10px;
    padding-left: 30px;
}
#fontsContainer button.active::before{
    content: '\279B';
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 5px;
 }
.fontsContainer-select button:hover{
    background-color: #e9e9e9;
}


.fontSizeContainer{

}
.fontSizeContainer svg{
    color: rgba(0, 0, 0, 0.8);
    margin: 2px;
}
.fontSizeContainer svg:hover{
    color: black;
}
.fontSizeContainer svg:active{
    scale: 0.95;
}
.fontSizeContainer input{
    color: black;
    width: 40px;
    text-align: center;
}
.fontSizeContainer input:hover{
    color: black;
}
.custom-datalist {
    position: relative;
}

/* .custom-datalist input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */

.custom-datalist ul {
    position: fixed;
    top: 50px;
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    list-style: none;
    margin: 0;
    padding: 5px 1px;
    z-index: 1000;
    display: none;
    text-align: center;
}

.custom-datalist ul li {
    cursor: pointer;
    padding: 3px 0;
    border-radius: 5px;
}

.custom-datalist ul li:hover {
    background: #eee;
}

.custom-datalist ul li.selected {
    background: #ddd;
}


.blockBox{
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    background-color: #fafafa;
    top: var(--top);
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    box-shadow: var(--box-shadow);
    border-radius:10px;
    padding: 10px;
    width: 400px;
}


.wrapConteiner{
    display: none;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    position: absolute;
    background-color: #ffffff;
    top: var(--top);
    /* left: calc((48px * 2) - 24px);
    transform: translateX(-50%); */
  
    height: 600px;
    max-width: 670px;

    overflow-y: scroll;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding:10px;
}


.wrapConteiner::-webkit-scrollbar-thumb{
    width: 3px;
    border-radius:0 20px 20px 0;
    background-color: #6a6a6a;
    -webkit-border-radius:0 20px 20px 0;
    -moz-border-radius:0 20px 20px 0;
    -ms-border-radius:0 20px 20px 0;
    -o-border-radius:0 20px 20px 0;
}
.wrapConteiner::-webkit-scrollbar{
    width: 6px;
    z-index: 55555;
    position: absolute;
    background-color: #d6d6d6;
    border-radius:0 20px 20px 0;
    padding: 10px 0;
    -webkit-border-radius:0 20px 20px 0;
    -moz-border-radius:0 20px 20px 0;
    -ms-border-radius:0 20px 20px 0;
    -o-border-radius:0 20px 20px 0;
}
.wrapConteiner::-webkit-scrollbar-button{
    width: 0px;
    height: 0px;
}
.wrapConteiner div{
    height: 200px;
    width: 200px;
    border:1px solid gainsboro;
    border-radius:10px;
    margin: 5px;
}

.attributesContainer{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: absolute;
    background-color: #ffffff;
    top: var(--top);
     left: calc((48px * 7) - 36px);
    transform: translateX(-50%);
  
    height: 500px;
    width: 300px;

    overflow-y: scroll;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding:10px;
}




.block_h4m{
    width: 100%;
    margin: 10px 0;
    border: 1px dotted gainsboro;
    border-radius: 5px;
    padding: 5px;
}












#baloonTextEditor{
    position: fixed;
    z-index: 1000000000;
    border: 1px solid rgb(0, 0, 0, 0.18181818);
    width: fit-content;
    height: 50px;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #ffffff;
    display: none;
    align-items: center;
    justify-content: center;
}
#baloonTextEditor button {
    background-color: transparent;
    border: none;
    padding: 0 10px;
}
#baloonLink{
    position: fixed;
    z-index: 1000000000;
    border: 1px solid rgb(0, 0, 0, 0.18181818);
    width: 268px;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #ffffff;
    display: none;
    align-items: center;
    justify-content: center;
}
#baloonLink .bi{
    padding: 0 10px;
}
#baloonLink input{
    border: 1px solid rgb(0, 0, 0, 0.18181818);
    border-radius: 5px;
    padding-left: 10px;
    color: #212121;
}

#baloonColorBox{
    position: fixed;
    top: 100px;
    z-index: 99999;
    border: 1px solid rgb(0, 0, 0, 0.18181818);
    width: 144px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#baloonColorBox button{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 2px;
    margin: 1px;
}
#baloonColorBox button:hover{
    scale: 1.3;
    border: 3px dashed salmon ;
}

#imageEditBox{
    position: fixed;
    z-index: 1000000000;
    border: 1px solid rgb(0, 0, 0, 0.18181818);
    width: fit-content;
    padding: 5px;
    border-radius: 50px;
    background-color: #ffffff;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#imageEditBox .bi{
    font-size: 21px;
    margin: 0 10px;
}
#imageEditBox div{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#imageEditBox div span{
   font-size: x-small;
}

#selectImageBox{
    z-index: 1000000000;
    background-color: #fff;
    width: 500px;
    height: 350px;
    border-radius: 5px;
    padding: 0px 7px 0px 7px;
    border: 1px solid rgb(0, 0, 0, 0.18181818);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
#selectImageBox div button{
    border: none;
    background-color: transparent;
    width: 25%;
    height: 120px;
    font-size: xx-large;
    /* border: 1px solid rgb(0, 0, 0, 0.18181818); */
}
#selectImageBox div button:hover{
    /* background-color: rgba(208, 208, 208, 0.182); */
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 50px;
}
#selectImageBox .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:3px 0px;
    height: fit-content;
}
#selectImageBox .head button{
    border: none;
    background-color: transparent;
    color: red; 
    font-size: initial;
    width: fit-content;
    height: initial;opacity: .6;
}#selectImageBox .head button:hover{
    /* background-color: rgba(208, 208, 208, 0.182); */
    border: none;
    font-size: initial;
    opacity: 1;
}
#selectImageBox div{
    width: 100%;
    height: 310px;
    overflow-y: scroll;
    border-radius: 5px;
}
#selectImageBox div img{
width: 25%;
height: 120px;
padding: 1px;
border-radius:5px ;
border: 1px solid rgb(0, 0, 0, 0.18181818);
object-fit: cover;
}
#selectImageBox div img:hover{
    object-fit: contain;
}

#codeEditorContainer{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000000000;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.536);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none;
}
#codeEditorBox{
    width: 800px;
    height: fit-content;
    min-height: 300px;
    margin: 70px auto;
    background-color: white;
    border: 5px solid gainsboro;
    border-radius: 5px;
    padding: 5px;
}
#codeEditorBox .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: fit-content;
}
#codeEditorBox .head div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#codeEditorBox .head button{
    border: none;
    background-color: transparent;
    color: green;
}
#codeEditorBox .body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}
#codeEditorBox .body textarea{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid gainsboro;
    border-radius: 5px;
    resize: vertical;
    background-color:rgba(255, 255, 255, 0.302);
}
#codeEditorBox .body pre{
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    margin: 10px 0;
}
