@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.stylingBox{
    display: none;
    width: 300px;
    height: 500px;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 0 0 1px 0px gainsboro;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    top: 65px;
    user-select: none;
    z-index: 2;
}
#blocksBox{
    display: none;
    width: 300px;
    height: 500px;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 0 0 1px 0px gainsboro;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    top: 75px;
    user-select: none;
    z-index: 2;
}

.stylingBox::-webkit-scrollbar{
    width: 0px !important;
}
.stylingBox>div{
    margin: 20px 10px;
}

.stylingHandler,.blocksHandler{
    height: 30px;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    position: sticky;
    top: 0;
    cursor: move;
}

#closeStylingBox,#closeblocksBox{
    position: absolute;
    right: 10px;
    cursor: pointer;
}



.styling_title{
    font-size: x-large;
}

.horizontal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.vertical{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.border5{
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.border10{
    border: 1px solid gainsboro;
    border-radius: 10px;
}
.border50{
    border: 1px solid black;
    border-radius: 50px;
}
.wfit{
    width: fit-content;
}
.padding{
    padding: 5px 10px;
}

.box{
    width: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
}
.colorBox{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
}

.gradiendBox{

    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}




/* border box */
.col3{
    width: 33%;
}
.borderBox{
    padding: 7px 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.solidBorder0{
    border: 1px solid black;
    border-radius: 0px;
}.solidBorder5{
    border: 1px solid black;
    border-radius: 5px;
}.solidBorder10{
    border: 1px solid black;
    border-radius: 10px;
}.solidBorder50{
    border: 1px solid black;
    border-radius: 50px;
}

.dashedBorder0{
    border: 1px dashed black;
    border-radius: 0px;
}.dashedBorder5{
    border: 1px dashed black;
    border-radius: 5px;
}.dashedBorder10{
    border: 1px dashed black;
    border-radius: 10px;
}.dashedBorder50{
    border: 1px dashed black;
    border-radius: 50px;
}

.dottedBorder0{
    border: 1px dotted black;
    border-radius: 0px;
}.dottedBorder5{
    border: 1px dotted black;
    border-radius: 5px;
}.dottedBorder10{
    border: 1px dotted black;
    border-radius: 10px;
}.dottedBorder50{
    border: 1px dotted black;
    border-radius: 50px;
}



/* shadow */
.shadowBox{

}
.previewShadow{
    border: 1px solid black;
    box-shadow: 4px 4px 0px 0px gainsboro;
}

.centerCol{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.centerCol span{
    font-size: smaller;
}
.shadowBox input[type=number]{
    width: 50px;
    padding: 5px;
    font-size: large;
    border-radius: 50px;
    border: 1px solid gainsboro;
    color: gray;
}
.shadowColor{
    width: 50px;
    height: 50px;
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 50px;
}