*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
:root{
    --bgc : rgb(255, 255, 255);
}

body{
    background-color: var(--bgc);
    border: 1px solid black;
   }
.login_form{
    width: calc(100% - 40px);
    max-width: 300px;
    margin: 20px;
    height: fit-content;
    padding: 20px;
    background-color:var(--bgc);
    position: fixed;
    top: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid gainsboro;
    box-shadow: 0 0 5px 2px gainsboro;
    z-index: 11;
}
.login_form input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    opacity: .5;
}
#close_form_btn{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
header{
    width: calc(100% - 2px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    position: fixed;
    top:0px;
    z-index: 10;
    background-color: var(--bgc);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
header .header_wrap{
    height: 54px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}
.name{
    font-weight: 800;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.name a{
    font-weight: 800;
    text-decoration: none;
    font-size: large;
    color: black;
}
.name svg{
    margin-right: 5px;
    display: none;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav a{
    font-size: large;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 54px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    position: static;
}
article{
    padding:10px 30px 10px 10px;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    min-height: 100vh;
    background-color:var(--bgc);
}
.center{
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}
article h1{
    margin: 0px;
    font-size: xx-large;
}

article h2,article h3,article h4,article h5{
    margin-bottom: 70px;
    scroll-margin-top: 65px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    z-index: 2;
    display: block;
    width: fit-content;
    max-width: 100%;
    border-radius: 5px;
    padding: 0 3px;

    white-space: wrap;
    text-wrap: wrap;
    text-overflow: ellipsis;
}
article p{
    margin: 30px 0;
    font-size: large;
}
article img{
    margin: 10px 0;
    display: block;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
}
article a{
color: blueviolet;
}


article a::before{
    content: '\21AA';
    color: blue;
}
article a::after{
    content: '\22B0';
    color: blue;
    text-decoration:wavy;
}


#articles{
    position: fixed;
    left: -100vw;
    width: 100vw;
    height: calc(100vh - 54px);
    background-color: var(--bgc);
    overflow-y: scroll;
    padding: 10px;
    transition: all .4s ease;
    z-index: 3;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#contents{
    position: fixed;
    left:-100vw;
    width: 100vw;
    height: calc(100vh - 54px);
    background-color: var(--bgc);
    overflow-y: scroll;
    padding: 10px;
    transition: all .4s ease;
    z-index: 3;

    border-left: 1px solid black;
    border-right: 1px solid black;
}

#toggleArticles{
    width: 20px;
    height: 15px;
    background-color: var(--bgc);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    right: 5px;
    top: 69px;
    cursor: pointer;
    z-index: 15;
}
#toggleContents{
    width: 20px;
    height: 15px;
    background-color: var(--bgc);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    right: 5px;
    top: 119px;
    cursor: pointer;
    z-index: 15;
}
.open{
   transition: all 1s linear;
}
.open .b1{
    transform: rotateZ(45deg) translateX(4px) translateY(4px);
}
.open .b2{
    display: none;
}
.open .b3{
    transform: rotateZ(-45deg) translateX(4px) translateY(-5px);
}
.bar{
    width: 20px;
    height: 3px;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
}

#articles a{
    display: block;
    list-style: none;
    width: fit-content;
    color: black;
    text-wrap:pretty;
    line-height: .8;
    text-decoration: none;
    font-size: xx-large;
}

#contents a{
    display: block;
    list-style: none;
    width: fit-content;
    color: black;
    text-wrap:pretty;
    margin-bottom: 10px;
    line-height: .8;
    text-decoration: none;
    font-size: x-large;
}

#contents  a::before{
    content: '\0023';
}
#articles a:hover, #contents a:hover{
    text-decoration: underline;
    color: blueviolet;
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 0;
}

@media  screen and (min-width:1200px) {

    .name svg{
        display: inline;
    }

    #articles, #contents{
        position: sticky;
        left: 0px;
        top: 64px;
        width: 300px;
        height: calc(100vh - 74px);
        background-color: var(--bgc);
        border: none;
        font-size: x-large;
        border-radius: 10px;
        padding: 10px;
    }
    aside li{
        font-size: xx-large;
        margin-bottom: 0;
        line-height: 1;
        font-weight:lighter;
    }
    aside a{
        font-size: xx-large;
        margin-bottom: 0;
        line-height: 1;
    }
    #toggleArticles, #toggleContents{
     display: none;
    }

    article h1{
        margin: 0px 0;
        font-size: xx-large;
    }
    article h2,article h3,article h4,article h5{
        position: -webkit-sticky;
        position: sticky;
        top: 18px;
        scroll-margin-top: 18px;
       
        z-index: 999999999;
        display: block;

       
        width: fit-content;
         max-width: 100%;

         white-space: normal;
         text-wrap: wrap;
         
        text-overflow: ellipsis;

    }
}