@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.stylingBox{
    display: block;
    width: 300px;
    height: 500px;
    overflow-y: scroll;
    background-color: #fefefe;
    border: 0px solid rgb(220, 220, 220);
    box-shadow: 0 0 10px 2px gainsboro;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    top: 65px;
    user-select: none;
    z-index: 2;
}
#blocksBox{
    display: none;
    width: 300px;
    height: 500px;
    overflow-y: scroll;
    background-color: #fff;
    border: 0px solid rgb(220, 220, 220);
    box-shadow: 0 0 10px 2px gainsboro;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    top: 75px;
    user-select: none;
    z-index: 2;
}

.stylingBox::-webkit-scrollbar{
    width: 0px !important;
}
.stylingBox>div{
    margin: 20px 10px;
}

.stylingHandler,.blocksHandler{
    height: 30px;
    background-color: rgb(245, 245, 245);

    background-color: #fafafccc;
    backdrop-filter: saturate(1.8) blur(20px);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    position: sticky;
    top: 0;
    cursor: move;
    z-index: 99;
}

#closeStylingBox,#closeblocksBox{
    position: absolute;
    right: 10px;
    cursor: pointer;
}



.styling_title{
    font-size: medium;
}
.styling_title a{
    font-size: smaller;
}
.horizontal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  
}
.horizontal button{
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
}
.vertical{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.border5{
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.border10{
    border: 1px solid gainsboro;
    border-radius: 10px;
}
.border50{
    border: 1px solid black;
    border-radius: 50px;
}
.wfit{
    width: fit-content;
}
.padding{
    padding: 5px 10px;
}

.box{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.03);
    margin-top: 10px;
}
/* .box button{
    width: 50px;
    height: 50px;
    border: 0px solid gainsboro;
    border-radius: 50%;
} */
.colorBox{
    width: 30px;
    height: 30px;
    border: 0px solid black;
    border-radius: 50%;
}
.grdColorBox{
    width: 60px;
    height: 30px;
    border: 0px solid black;
    border-radius: 30px;
}
.gradiendBox{

    width: 30px;
    height: 30px;
    border: 0px solid gainsboro;
    border-radius: 50%;
}

.cssBox textarea{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.03);
    margin-top: 10px;
    color: #000;
    line-height: 1;
    width: 100%;
    min-height: 80px;
}

/* border box */
.col3{
    width: 30%;
}
.borderBox{
    padding: 7px 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shadowBoxitem{
    padding: 3px 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.solidBorder0{
    border: 1px solid black;
    border-radius: 0px;
}.solidBorder5{
    border: 1px solid black;
    border-radius: 5px;
}.solidBorder10{
    border: 1px solid black;
    border-radius: 10px;
}.solidBorder50{
    border: 1px solid black;
    border-radius: 50px;
}

.dashedBorder0{
    border: 1px dashed black;
    border-radius: 0px;
}.dashedBorder5{
    border: 1px dashed black;
    border-radius: 5px;
}.dashedBorder10{
    border: 1px dashed black;
    border-radius: 10px;
}.dashedBorder50{
    border: 1px dashed black;
    border-radius: 50px;
}

.dottedBorder0{
    border: 1px dotted black;
    border-radius: 0px;
}.dottedBorder5{
    border: 1px dotted black;
    border-radius: 5px;
}.dottedBorder10{
    border: 1px dotted black;
    border-radius: 10px;
}.dottedBorder50{
    border: 1px dotted black;
    border-radius: 50px;
}



/* shadow */
.shadowBox{

}
.previewShadow{
    border: 1px solid black;
    box-shadow: 4px 4px 0px 0px gainsboro;
}

.centerCol{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.centerCol span{
    font-size: smaller;
}
.shadowBox input[type=number]{
    width: 50px;
    padding: 5px;
    font-size: large;
    border-radius: 50px;
    border: 1px solid gainsboro;
    color: gray;
}
.shadowColor{
    width: 50px;
    height: 50px;
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 50px;
}



.borderSelectBox{
    width: 100px;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    z-index: 0 !important;
}
.borderSelectBox div{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    line-height: 1;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    z-index: 0px !important;
}
.borderSelectBox div:hover{
    /* background-color: rgb(214, 214, 214) !important;
    border-radius: 5px; */
    font-size: 40px !important;
}
.borderSelectBox div:active{
    scale: .9;
}
.borderSelectCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25% !important;
    height: 25% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
    font-size: 20px !important;
    z-index: 0px !important;
}
.activeBorder{
    font-size: 40px !important;
}